@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local(''),
        url('../fonts/lato-v23-latin-300.woff2') format('woff2'),
        url('../fonts/lato-v23-latin-300.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
        url('../fonts/lato-v23-latin-regular.woff') format('woff');

}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
        url('../fonts/lato-v23-latin-700.woff') format('woff');
}


@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/playfair-display-v30-latin-regular.woff2') format('woff2'),
        url('../fonts/playfair-display-v30-latin-regular.woff') format('woff');
}


@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    src: local(''),
        url('../fonts/playfair-display-v30-latin-italic.woff2') format('woff2'),
        url('../fonts/playfair-display-v30-latin-italic.woff') format('woff');

}
