@include media('md') {
    .page {
        &__header {
            margin-top: 30px;
            margin-bottom: 105px;
        }

        &__sectionPeerToPeer {
            margin-bottom: 90px;
        }

        &__sectionContactSales {
            margin-bottom: 60px;
        }

        &__sectionFeatures {
            margin-bottom: 5px;
        }

        &__sectionQuote {
            margin-bottom: 60px;
        }

        &__sectionVideo {
            margin-bottom: 60px;
        }

        &__sectionTrading {
            margin-bottom: 60px;
        }

        &__sectionReviews {
            margin-bottom: 39px;
        }
    }


    .sectionContactSales {
        &__row {
            position: relative;
        }

        &__wrapper {
            width: 100%;
            padding: 2.7% 0;
        }
    }

    .digits {
        &__item {
            &:not(:last-of-type) {
                padding-bottom: 60px;

                &::after {
                    bottom: 20px;
                }
            }
        }
    }

    .sectionFeatures {
        &__feature {
            margin-bottom: 32px;
        }
    }

    .sectionQuote {
        &__wrapper {
            padding: 50px 150px 50px 80px;
        }
    }

    .quote {
        &__image {
            top: 35px;
            left: 50px;
        }
    }



    .sectionTrading {
        &__wrapper {
            width: 100%;
            position: absolute;
            right: 0;
            top: 50%;
            display: flex;
            background-color: $section6_wrapper_bg;
            z-index: 100;
            box-sizing: border-box;
            transform: translate(0, -50%);
        }
    }


    .features {
        padding: 60px 15px 0px 69px;

        &__list {
            margin-bottom: 43px;
        }
    }

    .sectionReviews {

        &__title {
            padding: 30px 40px 30px 40px;
        }

    }

    .review {

        &__content {
            padding: 30px 40px 30px 40px;

        }



        &__text {


            line-height: 2.6rem;

        }



    }

    .legal {

        &__link {
            text-align: right;

            &_margin {
                margin-left: 25px;
                margin-right: 0;
            }

        }
    }


}
