.section3 {
    &__feature {
        margin-bottom: 82px;
    }
}

.feature {
    box-sizing: border-box;
    padding-top: 50px;
    border-top: 1px solid $section3_border_color;
    display: flex;
    flex-direction: column;

    &__header {
        padding: 0 35px;

    }

    &__text {
        padding: 29px 35px 0px 35px;
        font-weight: 300;
    }
}
