.sectionContactSales {
    &__row {
        position: relative;
    }

    &__wrapper {
        width: math.div($default-width + 2 * $gap, 12) * 8 - 2 * $gap;
        padding: 45px 0;
        position: absolute;
        right: $gap;
        top: 50%;
        display: flex;
        background-color: $section2_wrapper_bg;
        z-index: 100;
        box-sizing: border-box;
        transform: translate(0, -50%);
    }

    &__image-wrapper {
        &::after {
            position: absolute;
            top: 0;
            width: calc(50% - 2 * $gap);
            left: 0;
            bottom: 0;
            content: '';
            margin: $gap;
            opacity: 0.7;
            background: linear-gradient(359.55deg, rgba(33, 36, 54, 0.5) 0.64%, rgba(33, 36, 54, 0) 94.04%);
        }
    }

    &__image {
        max-width: 100%;
        opacity: 0.7;
        position: relative;
    }

    &__digits {
        box-sizing: border-box;
        width: 48%;
    }

    &__text {
        box-sizing: border-box;
        width: 52%;
        padding-right: 5px;
    }

    &__paragraph {
        margin-bottom: 30px;

        &:last-of-type {
            margin-bottom: 47px;
        }
    }
}

.digits {
    display: flex;
    flex-direction: column;
    align-items: center;


    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        &:not(:last-of-type) {
            padding-bottom: 80px;

            &::after {
                content: '';
                width: 100px;
                height: 1px;
                background-color: $section2_digits_devider;
                position: absolute;
                bottom: 40px;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }

    }

    &__strong {
        font-family: $default-font-header #{$default-font-header-fallback};
        font-size: 6.8rem;
        line-height: 7.2rem;
        text-align: center;
        position: relative;
        margin-bottom: 12px;

    }

    &__strong-before {
        margin-left: 32px;

        &::before {
            content: '$';
            font-family: $default-font-header #{$default-font-header-fallback};
            font-size: 4.0rem;
            line-height: 5.0rem;
            color: $section2_digits_dollar;
            position: absolute;
            left: -10px;
            bottom: 0;
            transform: translate(-100%, 0);
        }
    }

    &__text {
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 2.6rem;
        text-align: center;
        opacity: 0.8;
    }
}
