@include media('sm') {
    .page {
        &__header {
            margin-top: 30px;
            margin-bottom: 60px;
        }

        &__section1 {
            margin-bottom: 60px;
        }

        &__section2 {
            margin-bottom: 30px;
        }

        &__section3 {
            margin-bottom: 30px;
        }

        &__section4 {
            margin-bottom: 30px;
        }

        &__section5 {
            margin-bottom: 30px;
        }

        &__section6 {
            margin-bottom: 30px;
        }

        &__section7 {
            margin-bottom: 9px;
        }

        &__footer {}
    }

    .header {
        &__row {
            flex-wrap: wrap;
        }

        &__right {
            justify-content: flex-start;
        }
    }

    .digits {
        &__item {
            padding-top: 15px;
        }

        &__strong {
            font-size: 5.4rem;
            line-height: 5.8rem;
        }

        &__strong-before {
            &::before {
                font-size: 2.6rem;
                line-height: 3.4rem;
            }
        }
    }

    .section3 {
        &__feature {
            margin-bottom: 15px;
        }
    }

    .feature {
        padding-top: 30px;
    }

    .section4 {
        &__wrapper {

            padding: 50px 75px 50px 80px;

        }
    }

    .section5 {

        &__video-wrapper {
            padding: 15px 15px 15px 15px;

            &::before {
                display: none;
            }

            &::after {
                display: none;
            }
        }
    }

    .image-bg-6 {
        max-width: 100%;
        width: 100%;
        flex-basis: 100%;
    }


    .features {
        padding: 15px 40px 15px 40px;

        &__list {
            width: 48%;
            margin-bottom: 58px;

            &_button {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .feature {

        &__item-header {
            font-family: $default-font-header #{$default-font-header-fallback};
            font-weight: 400;
            font-size: 2.4rem;
            line-height: 4.8rem;
            color: $section6_feature_header_font;
            margin-bottom: 7px;
            letter-spacing: 0.00em;
            word-spacing: 0.00em;
        }

        &__item {
            margin-bottom: 10px;
        }
    }

    .review {
        &__content {
            padding: 50px 50px 50px 50px;
        }

        &__text {
            line-height: 3rem;
        }
    }
}
