.managers{
    margin-bottom: 100px;

    @media screen and (max-width: 1024px) {
        margin-bottom: 50px;
    }

    @media screen and (max-width: 768px) {
        margin-bottom: 30px; 
    }

    @media screen and (max-width: 576px) {
        margin-bottom: unset; 
    }
    
    &__info{
        margin-left: 95px;

        @media screen and (max-width: 768px) {
            margin-left: unset;
        }

    }
}

.revers{
    
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
    }
}
