a.item-name,
.submenu__link {
    text-decoration: none;
    font-family: $main-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: $title-type-color;
    padding: 20px 0;

    @include media (md) {
        font-size: 15px;
    }

    @include media (sm) {
        font-size: 16px;
    }
}

a.item-name:hover {
    color: $bg-color-button;
}

.button {
    a {
        display: inline-block;
        text-decoration: none;
        border-radius: 4px;
        background: $bg-color-button;
        color: $links-type-color;
        padding: 13px 43px;
    }
}
