@include font-face('roboto-v30-latin-regular');
@include font-face($_font-file: 'roboto-v30-latin-700', $_font-name: $default-font-name, $_font-weight: 700, $_font-style: normal);
@include grid();

@import './vars';

*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    box-sizing: border-box;
}

body{
    font-family: $default-font-name;
}

.container {
    max-width: $default-width;
    margin: 0 auto;
    padding: 0 $gap;
}

.ai{
    align-items: center;
}

.button{
    max-width: 180px;
    width: 100%;
    height: 50px;
    background-color: #FF9900;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: $transition;

    @media screen and (max-width: 1024px) {
        max-width: 150px;
        height: 45px;
    }

    @media screen and (max-width: 576px) {
        max-width: 180px;
        height: 45px;
    }



    &__link{
        text-decoration: none;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }

    &:hover{
        background-color: #FFFFFF;
        border: 1px solid #FF9900;

        .button__link{
            color: #FF9900;
        }
    }
}


.image{

    display: flex;
    justify-content: center;
    align-items: center;
    
    
    &__img{
        width: 100%;

        @media screen and (max-width: 1024px) {
            width: 85%;
        }

        @media screen and (max-width: 768px) {
            width: 60%;
        }
    }
   
}

.info {

    @media screen and (max-width: 768px) {
        text-align: center;
    }

    &__uppertitle {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: $def-text;

        @media screen and (max-width: 1024px) {
            font-size: 12px;
            line-height: 20px;
        }

        @media screen and (max-width: 768px) {
            font-size: 12px;
            line-height: 20px;
        }
    }

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        color: $def-title;

        @media screen and (max-width: 1024px) {
            font-size: 30px;
            line-height: 40px;
        }

        @media screen and (max-width: 576px) {
            font-size: 25px;
            line-height: 35px;
        }

        @media screen and (max-width: 480px) {
            font-size: 23px;
            line-height: 30px;
        }
    }

    &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: $def-text;
        margin: 20px 0 40px;

        @media screen and (max-width: 1024px) {
            font-size: 12px;
            line-height: 20px;
            margin: 15px 0 30px;
        }

        @media screen and (max-width: 768px) {
            margin: 15px 0 20px;
        }

        @media screen and (max-width: 480px) {
            font-size: 10px;
            line-height: 18px;
            margin: 10px 0 15px;
        }
    }

    &__subtitle {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        color: $def-title;
        margin: 30px 0 10px;

        @media screen and (max-width: 1024px) {
            font-size: 14px;
            line-height: 20px;
            margin: 15px 0 5px;
        }

        @media screen and (max-width: 480px) {  
            line-height: 18px;
            margin: 10px 0 5px;
        }
    }

    &__subtext {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: $def-text;

        @media screen and (max-width: 1024px) {
            font-size: 14px;
            line-height: 20px;
        }

        @media screen and (max-width: 480px) {  
            font-size: 11px;
            line-height: 18px;
        }
    }

    &__item{
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        &:last-child{
            margin-bottom: 0;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
            margin-bottom: 20px;
            justify-content: center;
        }

        

    }

    &__icon{
        margin-right: 30px;

        @media screen and (max-width: 1024px) {
            width: 25px;
            height: 25px;
            margin-right: 20px;
        }

        @media screen and (max-width: 480px) {
            width: 20px;
            height: 20px;
            margin-right: 15px;
        }
    }

    &__content{
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: $def-text;

        @media screen and (max-width: 1024px) {
            font-size: 13px;
            line-height: 20px;
        }

        @media screen and (max-width: 480px) {
            font-size: 10px;
            line-height: 15px;
        }
    }
}
