.box {
    display: grid;
    grid-template-columns: repeat(4, calc(100%/4));
    margin-bottom: 60px;

    &__item {
        display: inline;
        padding-top: 76%;
        overflow: hidden;
        position: relative;
    }

    &__imges {
        max-width: unset;
        min-height: 100%;
        min-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.gallery__button {
    margin-left: 50%;
    transform: translate(-50%);
}
