@include font-face($link-text-style, 'source-sans-pro-v21-latin-regular', 400);
@include font-face($main-font-style, 'montserrat-v25-latin-regular', 400);
@include font-face($main-font-style, 'montserrat-v25-latin-700', 700);
@include font-face($text-font-style, 'open-sans-v34-latin-regular', 400);
@include font-face($text-font-style, 'open-sans-v34-latin-italic', 400, italic);

@include container;
@include grid(12);

section {
    margin-bottom: 100px;
}

.button {
    display: inline-block;
    padding: 16px 41px;
    color: $text-button-color;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid $text-button-color;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}
