.page__main {
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        border: 1px solid $link-text-color;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 42px;
    }

    &::after {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        border-bottom: 1px solid $link-text-color;
        border-right: 1px solid $link-text-color;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        bottom: 60px;
    }
}

.page__main {
    margin-top: -119px;
}

.main__screen {
    margin-top: 30%;
}

.screen__note_main {
    text-align: center;
    color: $link-text-color;
    letter-spacing: 0.3em;
}

.title_main {
    color: $link-text-color;
    font-size: 80px;
    line-height: 98px;
}
