.projects {
    &__image-wrapper {
        max-width: 90%;
        height: auto;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
    }

    &__image {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__info {
        height: 100%;
        display: flex;
        box-sizing: border-box;
    }

    &__info-wrapper {
        height: auto;
        align-self: flex-end;
        box-sizing: border-box;
    }

    // [class^=col-]:nth-child(5n+1) {

    //     .background {
    //         position: relative;

    //         &::before {
    //             content: '';
    //             display: block;
    //             width: 105%;
    //             padding-top: 67%;
    //             background-color: #55B7FF;
    //             position: absolute;
    //             top: -12%;
    //             left: -51%;
    //         }
    //     }
    // }

    // [class^=col-]:nth-child(4n+4) {
    //     .projects__image-wrapper {
    //         margin-right: unset;
    //         margin-left: 10%;
    //     }

    //     .background {
    //         position: relative;

    //         &::before {
    //             content: '';
    //             display: block;
    //             width: 105%;
    //             padding-top: 67%;
    //             background-color: #7E5AFF;
    //             position: absolute;
    //             top: -12%;
    //             right: -51%;
    //         }
    //     }
    // }

    [class^=col-] {
        &:first-child {
            margin-top: 57px;
        }

        &:not(:nth-last-child(-n+2)) {
            margin-bottom: 177px;
        }
    }
}

.info {


    &__title {
        text-align: left;
        margin-bottom: 19px;
    }

    &__text {
        margin-bottom: 40px;
    }

    &__button {
        margin-bottom: 60px;
    }
}

.location {
    font-family: $text-font;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;

    color: $text-button-color;
    margin-bottom: 30px;
    position: relative;
    padding-left: 17px;

    &::before {
        content: '';
        display: block;
        width: 9px;
        height: 20px;
        background-image: url("../images/location.svg");
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 0;
    }
}
