.soсial {

    &__link {
        display: inline-block;
        border: 1px solid $link-text-color;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: relative;

        &:hover {
            border: 2px solid $link-text-color;
            box-sizing: border-box;
        }
    }

    &__link:not(:first-child) {
        margin-left: 20px;
    }

    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
