$main-font-style: 'Montserrat';
$text-font-style: 'Open Sans';
$link-text-style: 'Source Sans Pro';
$main-font: $main-font-style, sans-serif;
$text-font: $text-font-style, sans-serif;
$link-text: $link-text-style, sans-serif;

// <i class="fa-brands fa-facebook-f"></i>
// <i class="fa-brands fa-twitter"></i>
// <i class="fa-brands fa-instagram"></i>
$blue: #55B7FF;
$violet: #7E5AFF;
$gray: #2C4058;
$black: #000;
$white: #fff;
$color-before: $gray;

$text-color: $gray;
$text-button-color: $black;
$link-text-color: $white;
$header-gradient: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
$bg-elem-before: $blue;
$bg-elem-left: $blue;
$bg-elem-right: $violet;



$path-fonts: '../fonts/';
$default-width: 1200px;
$gap: 15px;

$breack-points: (
    "lg": 1200px,
    "md": 992px,
    "sm": 768px,
    "xs": 576px,
    "sxs": 480px,
    "uxs": 320px
);
