@include media('xs') {
    .authorization {
        justify-content: unset;


        &__sign-in {
            padding-top: 10px;
            padding-bottom: 10px;

        }

        &__sign-up {
            padding-top: 10px;
            padding-bottom: 10px;
            flex-grow: 2;

            &-wrapper {
                flex-grow: 2;
            }
        }
    }

    .burger-menu-wrapper {
        justify-self: flex-end;
    }
}
