.pic {
    width: 13px;
    border-radius: 100%;
    margin-top: 20px;
}

.pic_label {
    display: block;
    width: 140px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #E4E4E4;
    background-color: white;
    background-image: url(../images/camera.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0;
    cursor: pointer;
}
