header {
    .links__item {
        display: inline-block;
        padding: 0 20px;

        @include media (lg) {
            padding: 0 7px;
        }

        @include media (md) {
            padding: 0 5px;
        }
    }
}

.links__item:first-child {
    @media screen and (min-width: 769px) {
        &:hover {
            .submenu {
                visibility: visible;
                opacity: 1;
                pointer-events: all;
                transform: translate(0);
            }
        }
    }
}

header {
    [class^='col-'] {
        display: flex;
        justify-content: center;
        background-color: #fff;
        z-index: 300;

        .logo__img,
        .menu__links,
        .sing__buttons {
            align-self: center;
        }
    }


    [class^='col-']:first-child {
        justify-content: flex-start;
    }

    [class^='col-']:last-child {
        justify-content: flex-end;
    }

    .nav__menu {
        .links__sing {
            display: none;

            @include media (sm) {
                display: block;
                margin-top: 45px;
            }

            a {
                font-family: "Montserrat", Arial, Helvetica, sans-serif;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                text-decoration: none;
                border-radius: 4px;
                padding: 11px 23px;

                &:first-child {
                    border: 1px solid #BCD0E5;
                    color: #2F281E;
                    margin-left: 20px;

                    @include media (sm) {
                        margin-left: 10px;
                    }
                }

                &:last-child {
                    border: 1px solid #FF9900;
                    background: #FF9900;
                    color: #fff;
                }
            }
        }

        .links__sing a:last-child {
            margin-left: 32px;

            @include media (lg) {
                margin-left: 13px;
            }
        }

        @include media (lg) {
            display: flex;
            justify-content: space-around;
        }
    }
}

header {
    .buttons__item {
        display: inline-block;

        a {
            font-family: $main-font;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            display: inline-block;
            text-decoration: none;
            border-radius: 4px;

            @include media (lg) {
                font-size: 14px;
            }

            @include media (md) {
                font-size: 14px;
            }


        }
    }

    .buttons__item:first-child a {
        border: 1px solid $placeholder-type-color;
        color: $title-type-color;
        padding: 11px 23px;

        @include media (lg) {
            padding: 10px 17px;
            margin-left: 10px;
        }

        @include media (md) {
            padding: 8px 10px;
            margin-left: 8px;
        }

        @include media (sxs) {
            padding: 5px 5px;
            margin-left: 5px;
            font-size: 12px;
        }

    }

    .buttons__item:last-child a {
        border: 1px solid $bg-color-button;
        background: $bg-color-button;
        color: $links-type-color;
        padding: 11px 23px;
        margin-left: 32px;

        @include media (lg) {
            padding: 10px 17px;
            margin-left: 10px;
        }

        @include media (md) {
            padding: 6px 7px;
            margin-left: 5px;
        }

        @include media (sxs) {
            padding: 5px 5px;
            margin-left: 5px;
            font-size: 12px;
        }
    }
}

header {
    @media screen and (min-width: 769px) {
        .menu__links {
            .links__item:first-child {
                &:hover {
                    .item__submenu {
                        visibility: visible;
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }
        }

        .item__submenu {
            display: block;
            position: absolute;
            background-color: #fff;
            border-left: 1px solid $bg-color-button;
            border-right: 1px solid $bg-color-button;
            width: auto;
            height: auto;
            top: 110%;
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            transition: all .3s ease-in-out;


            .links__item {
                display: block;
                border-bottom: 1px solid $bg-color-button;
                transition: background-color .3s ease-in-out;

                &:hover {
                    background-color: $bg-color-button;
                }

                a {
                    display: block;
                    padding: 20px;
                    transition: color .3s ease-in-out;

                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}

header {
    @include media (sm) {
        .nav__sing {
            display: none;
        }
    }
}


// burger-menu

%psevdospan {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: $main-type-color;
    border-radius: 3px;
    position: absolute;
    transition: transform .3s ease-in-out;
}

.open-menu-btn {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 5px;
    border: 1px solid $bg-color-button;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    right: $gap;

    @include media-min(sm) {
        display: none;
    }

    span {
        display: block;
        width: 71%;
        height: 3px;
        background-color: $main-type-color;
        position: relative;

        &::before,
        &::after {
            @extend %psevdospan;
            transition: all .3s ease-in-out;
        }

        &::before {
            top: -7px;
        }

        &::after {
            top: 7px;
        }
    }
}

@include media (sm) {}

.open-menu-input {
    @include visuality-hidden;

    &:checked {
        &+.open-menu-btn {
            span {
                background-color: transparent;

                &::before {
                    top: auto;
                    transform: rotate(45deg);
                }

                &::after {
                    top: auto;
                    transform: rotate(-45deg);
                }
            }
        }

        &~.links {
            transform: translateX(0);
        }
    }
}

.open-sub-menu-input {
    @include visuality-hidden;

    &:checked {
        &~.submenu {
            transform: translateX(0);
        }

        &~.submenu3 {
            transform: translateX(0);
        }
    }
}

.menu__links {
    @include media(sm) {
        display: block;
        position: fixed;
        right: 0;
        left: 0;
        background-color: #fff;
        top: 80px;
        bottom: 0;
        transform: translateX(-100%);
        transition: transform .3s ease-in-out;

        .links__item {
            display: block;
            border-bottom: 1px solid $bg-color-button;

            .item-name {
                display: block;
                padding: $gap;
            }
        }
    }
}


.submenu {
    @include media (sm) {
        position: fixed;
        background-color: #fff;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        box-sizing: border-box;
        transform: translateX(100%);
        transition: transform .3s ease-in-out;
        z-index: 1000;

        a {
            &:hover {
                color: $bg-color-button;
                margin-left: 20px;
            }
        }
    }
}

@include media (sm) {
    .links__item {
        position: relative;
    }

    .open-sub-menu-btn {
        display: block;
        width: 58px;
        height: 58px;
        background-color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1000;

        &::after {
            content: '';
            display: block;
            position: absolute;
            right: 40%;
            top: 50%;
            width: 13px;
            height: 13px;
            border-right: 1px solid $bg-color-button;
            border-bottom: 1px solid $bg-color-button;
            transform-origin: top;
            transform: rotate(-45deg) translateY(-50%);
        }
    }

    .close-sub-menu-btn {
        display: block;
        padding: 30px;

        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 10%;
            top: 50%;
            width: 13px;
            height: 13px;
            border-right: 1px solid $bg-color-button;
            border-bottom: 1px solid $bg-color-button;
            transform-origin: top;
            transform: rotate(135deg) translateY(-50%);
        }
    }

}
