header {
    .links__item {
        display: inline-block;
        padding: 0 20px;

        @include media (lg) {
            padding: 0 15px;
        }

        @include media (md) {
            padding: 0 5px;
        }
    }

    .links__item:first-child {
        @media screen and (min-width: 769px) {
            &:hover {
                .megamenu {
                    visibility: visible;
                    opacity: 1;
                    pointer-events: all;
                    transform: translate(0);
                }
            }
        }
    }

    .container__nav {
        display: flex;
        justify-content: space-between;

        @include media (sm) {

            .nav__logo {
                order: 1;
            }

            .nav__menu {
                order: 3;
                position: relative;
            }

            .nav__sing {
                order: 2;
            }
        }
    }
}

header {
    [class^='col-'] {
        display: flex;
        justify-content: center;
        background-color: #fff;
        z-index: 300;

        .logo__img,
        .menu__links,
        .sing__buttons {
            align-self: center;
        }
    }

    [class^='col-']:first-child {
        justify-content: flex-start;
    }

    [class^='col-']:last-child {
        justify-content: flex-end;
    }

    .nav__menu {

        @include media (lg) {
            display: flex;
            justify-content: space-around;
        }

        @include media (sm) {
            // display: none;
        }
    }
}

header {
    .buttons__item {
        display: inline-block;

        a {
            font-family: $main-font;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            display: inline-block;
            text-decoration: none;
            border-radius: 4px;

            @include media (lg) {
                font-size: 14px;
            }

            @include media (md) {
                font-size: 14px;
            }


        }
    }

    .buttons__item:first-child a {
        border: 1px solid $placeholder-type-color;
        color: $title-type-color;
        padding: 11px 23px;

        @include media (lg) {
            padding: 10px 17px;
            margin-left: 10px;
        }

        @include media (md) {
            padding: 8px 10px;
            margin-left: 8px;
        }

        @include media (sxs) {
            padding: 5px 5px;
            margin-left: 5px;
            font-size: 12px;
        }

    }

    .buttons__item:last-child a {
        border: 1px solid $bg-color-button;
        background: $bg-color-button;
        color: $links-type-color;
        padding: 11px 23px;
        margin-left: 32px;

        @include media (lg) {
            padding: 10px 17px;
            margin-left: 10px;
        }

        @include media (md) {
            padding: 8px 10px;
            margin-left: 5px;
        }

        @include media (sxs) {
            padding: 5px 5px;
            margin-left: 5px;
            font-size: 12px;
        }
    }
}

header {
    .menu {
        .hidden {
            display: none;
        }
    }
}

header {
    .container__nav {
        @include media (lg) {
            .nav__sing {
                display: none;
            }

            .hidden {
                display: block;

                @include media (sm) {
                    display: none;
                }
            }
        }

        @include media (sm) {
            .nav__sing {
                display: flex;
            }
        }
    }
}

.nav__menu_hidden {
    display: none;

    @include media (sm) {
        display: block;
    }
}


// burger-menu

%psevdospan {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: $main-type-color;
    border-radius: 3px;
    position: absolute;
    transition: transform .3s ease-in-out;
}

.open-menu-btn {
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 5px;
    border: 1px solid $bg-color-button;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: $gap;

    @include media-min(sm) {
        display: none;
    }

    span {
        display: block;
        width: 71%;
        height: 3px;
        background-color: $main-type-color;
        position: relative;

        &::before,
        &::after {
            @extend %psevdospan;
            transition: all .3s ease-in-out;
        }

        &::before {
            top: -7px;
        }

        &::after {
            top: 7px;
        }
    }
}


.open-menu-input {
    @include visuality-hidden;

    &:checked {
        &+.open-menu-btn {
            span {
                background-color: transparent;

                &::before {
                    top: auto;
                    transform: rotate(45deg);
                }

                &::after {
                    top: auto;
                    transform: rotate(-45deg);
                }
            }
        }

        &~.links {
            transform: translateX(0);
        }
    }
}


.links {
    @include media(sm) {
        display: block;
        position: fixed;
        right: 0;
        left: 0;
        background-color: #fff;
        top: 116px;
        bottom: 0;
        transform: translateX(-100%);
        transition: transform .3s ease-in-out;

        .links__item {
            display: block;
            border-bottom: 1px solid $bg-color-button;

            .item-name {
                display: block;
                padding: $gap;
            }
        }
    }
}


.submenu {
    @include media(sm) {
        position: absolute;
        top: -82px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        z-index: 1000;
        box-sizing: border-box;
        transform: translateX(0);
        transition: transform .3s ease-in-out;

        .submenu__item {
            padding-left: 50px;
        }

        .submenu__link {
            display: block;
        }
    }
}
