.choose-us-wrapper {
    background-image: url(../images/citybg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.choose-us {
    &__title {
        font-family: $second-font-name;
        font-size: 38px;
        margin-bottom: 50px;

        @include media ('sm') {
            font-size: 28px;
            margin-bottom: 25px;
            padding-top: 30px;
        }
    }

    &__info {
        min-height: 685px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        color: $white-color;
        padding-right: 40px;
        padding-left: 40px;

        @include media ('sm') {
            min-height: 450px;
            padding-right: 10%;
            padding-left: 10%;
        }
    }

    &__text {
        letter-spacing: 1.6px;
        font-size: 16px;
        margin-bottom: 30px;
        color: $main-text-color;

        @include media ('sm') {
            font-size: 14px;
            margin-bottom: 15px;
        }
    }

    &__img-wrapper {
        min-height: 685px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 20px;

        @include media ('sm') {
            min-height: 450px;
            padding-left: 0;
            padding-right: 0;

        }
    }

    &__img {
        margin-bottom: 20px;

        &:last-child {
            align-self: flex-end;

            @include media ('sm') {
                align-self: flex-end;
            }

            @include media ('sm') {
                align-self: center;
                width: 80%;
            }
        }

        &:first-child {
            align-self: flex-start;

            @include media ('sm') {
                align-self: center;
                width: 80%;
            }
        }
    }
}
