.footer {
    padding-top: 100px;
    background-color: $footer-bg-color;

    @include media ('md') {
        padding-top: 40px;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: $base-line-height;
        letter-spacing: 3.36px;

        @include media ('sm') {
            font-size: 20px;
        }
    }

    &__title-description {
        font-size: $base-font-size;
        font-weight: $base-font-weight;
        letter-spacing: 1.6px;
        line-height: $base-line-height;
        padding-top: 19px;

        @include media ('sm') {
            font-size: 14px;
            padding-top: 14px;
        }
    }

    &__title,
    &__title-description {
        display: block;
        text-align: center;
        color: $white-color;
    }

    &__social-list {
        display: flex;
        justify-content: center;
        padding: 20px 0;

        @include media ('sm') {
            padding: 15px;
        }
    }

    &__social-link {
        text-decoration: none;
        color: $footer-icons-color;
        padding: 17px 5px;

        &>svg {
            height: 30px;
            fill: $footer-icons-color;
        }

        &>:hover {
            fill: $blue-light-color;
        }
    }
}
