@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./fonse/montserrat-v25-latin-regular.woff2') format('woff2'),
        url('./fonse/montserrat-v25-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('./fonse/montserrat-v25-latin-600.woff2') format('woff2'),
        url('./fonse/montserrat-v25-latin-600.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('./fonse/montserrat-v25-latin-700.woff2') format('woff2'),
        url('./fonse/montserrat-v25-latin-700.woff') format('woff');
}


@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./fonse/poppins-v20-latin-regular.woff2') format('woff2'),
        url('./fonse/poppins-v20-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('./fonse/poppins-v20-latin-600.woff2') format('woff2'),
        url('./fonse/poppins-v20-latin-600.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('./fonse/poppins-v20-latin-700.woff2') format('woff2'),
        url('./fonse/poppins-v20-latin-700.woff') format('woff');
}

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #544837;
}

section {
    padding-bottom: 150px;
}

.container {
    padding: 0 15px;
    max-width: 1440px;
    margin: 0 auto;
}

h1,
h2 {
    font-weight: 700;
    color: #2F281E;
}

h2 {
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    width: 533px;
    margin: 0 auto 60px;
}

h1 {
    font-size: 44px;
    line-height: 54px;
}

h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 18px;
}

a.sign_in,
a.sign_up {
    padding: 10px 20px;
    border-radius: 4px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border: none;
    text-align: center;
    cursor: pointer;
}

a.sign_in {
    border: 1px solid #BCD0E5;
    color: #2F281E;
}

a.sign_up {
    color: #fff;
    background: #FF9900;
    margin-right: 30px;
}

a.get_started,
.sign_up_now,
button {
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    padding: 15px 37px;
    background: #FF9900;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

a.get_started,
.sign_up_now {
    padding: 15px 37px;
    text-decoration: none;
}

button {
    border: none;
}

.sign_up_now {
    margin: 0 auto;
}

.menu ul {
    list-style: none;
}

.menu li {
    display: inline-block;
    margin-top: 4px;
}

.menu li a {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #2F281E;
    text-decoration: none;
    padding: 15px;
    outline: none;
}

.menu li:hover a {
    color: #FF9900;
}

header {
    padding: 20px 0;
}

.logo,
.buttons {
    float: left;
    width: 30%;
}

.menu {
    float: left;
    width: 40%;
    text-align: center;
}

a.sign_in,
a.sign_up {
    float: right;
}

.container::after {
    content: '';
    display: block;
    clear: both;
}

.main_menu {
    float: right;
    margin: 0 1.5%;
}

.name {
    float: left;
    width: 40%;
}

.name h1 {
    margin-top: 150px;
}

.name p {
    margin-top: 35px;
}

.name .get_started {
    margin-top: 23px;
}

.picture {
    float: right;
}

.picture {
    margin-top: 50px;
}

.row {
    display: flex;
}

section.design_tools .tools {
    margin-bottom: 70px;
    justify-content: space-between;
}

section.design_tools .tools .col {
    display: flex;
    flex-direction: column;
    width: 270px;
}

section.design_tools img {
    width: 50px;
    height: 50px;
    margin-bottom: 33px;
}

section.design_tools {
    background-image: url(../images/bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 30%;
}

hr {
    margin-bottom: 70px;
    color: rgba(188, 208, 229, 0.496913);
}

footer {
    border-top: 1px solid rgba(188, 208, 229, 0.496913);
    padding-top: 70px;
}

footer .container {
    padding-bottom: 70px;
}

footer .row {
    justify-content: space-between;
}

footer .col:last-child {
    display: flex;
    flex-direction: column;
}

footer h4 {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
}

footer .col:nth-child(2),
footer .col:nth-child(3) {
    max-width: 135px;
}

footer .col:last-child {
    max-width: 280px;
}

footer .col:last-child h4 {
    margin-bottom: 23px;
}

footer .col:last-child input {
    margin-bottom: 23px;
    width: 340px;
    height: 50px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    padding-left: 10px;
}

input::-webkit-input-placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #BCD0E5;
}

input::-moz-placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #BCD0E5;
}

input:-moz-placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #BCD0E5;
}

input:-ms-input-placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #BCD0E5;
}

footer ul li {
    margin-bottom: 15px;
}

footer ul a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
}

footer ul a:hover {
    color: #FF9900;
}
