header {
    .links__item {
        display: inline-block;
        padding: 0 20px;

        @include media (lg) {
            padding: 0 17px;
        }

        @include media (md) {
            padding: 0 8px;
        }
    }
}

header {
    [class^='col-'] {
        display: flex;
        justify-content: center;
        background-color: #fff;
        z-index: 300;

        .logo__img,
        .menu__links,
        .sing__buttons {
            align-self: center;
        }
    }

    [class^='col-']:first-child {
        justify-content: flex-start;
    }

    [class^='col-']:last-child {
        justify-content: flex-end;
    }

    .nav__menu {

        @include media (lg) {
            display: flex;
            justify-content: space-around;
        }

        @include media (sm) {
            display: flex;
            justify-content: flex-start;
        }
    }
}

header {
    .buttons__item {
        display: inline-block;

        a {
            font-family: $main-font;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            display: inline-block;
            text-decoration: none;
            border-radius: 4px;

            @include media (md) {
                font-size: 14px;
            }
        }
    }

    .buttons__item:first-child a {
        border: 1px solid $placeholder-type-color;
        color: $title-type-color;
        padding: 11px 23px;

        @include media (lg) {
            padding: 10px 22px;
            margin-left: 20px;
        }

        @include media (md) {
            padding: 10px 17px;
            margin-left: 10px;
        }
    }

    .buttons__item:last-child a {
        background: $bg-color-button;
        color: $links-type-color;
        padding: 13px 25px;
        margin-left: 32px;

        @include media (lg) {
            padding: 11px 20px;
            margin-left: 20px;
        }

        @include media (md) {
            padding: 11px 15px;
            margin-left: 10px;
        }
    }
}

header {
    .menu {
        .hidden {
            display: none;
        }
    }
}

header {
    .container__nav {
        @include media (lg) {
            .nav__sing {
                display: none;
            }

            .hidden {
                display: block;
            }
        }

        @include media (sm) {
            .nav__sing {
                display: block;

                .sing__buttons {
                    display: flex;
                }
            }

            .hidden {
                display: none;
            }

        }
    }
}
