.contact {
  border-top: 1px solid $color-gray-border;
  padding-top: 45px;

  &__message {
  }

  &__form {
  }
}

.form {
  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba($color-blue-dark, 0.1);
    margin-bottom: 28px;
    padding: 12px 0;
    font-family: $font-playfair;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.08em;

    &:focus {
      outline: none;
    }
  }
}

.button {
  border: none;
  background: none;
  margin: 12px 0 0 0;
  padding: 0;
}
