@include font-face('lato-v23-latin-regular');
@include font-face($_font-file: 'lato-v23-latin-300', $_font-name: $default-font-name, $_font-weight: 300, $_font-style: normal);
@include font-face($_font-file: 'lato-v23-latin-700', $_font-name: $default-font-name, $_font-weight: 700, $_font-style: normal);
@include font-face($_font-file: 'playfair-display-v30-latin-regular', $_font-name: 'Playfair Display', $_font-weight: 400, $_font-style: normal);
@include font-face($_font-file: 'playfair-display-v30-latin-italic', $_font-name: 'Playfair Display', $_font-weight: 400, $_font-style: italic);

@include grid();

.test {
  background-color: red;
  padding: 15px;
}

body {
  background-color: $bg-color-body;
  color: $color-blue-dark;
  font-family: $main-font;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
}

.section {
  margin-bottom: 105px;
}

h1,
h2,
h3 {
  margin: 20px 0;
}

p {
  margin: 0 0 20px 0;
  opacity: 0.8;
}

a {
  text-decoration: none;
}

.link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: $color-red;
  position: relative;
  margin-top: 50px;
  display: inline-block;
  text-transform: uppercase;


  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 10px;
    right: -5px;
    top: 50%;
    bottom: 0;
    opacity: 0.3;
    background-color: $color-red;
  }

}

.container {
  max-width: $default-width;
  margin: 0 auto;
  padding: 0 $gap;
}

.title {
  font-family: $font-playfair;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;

  &__accent {
    color: $color-green;
    font-style: italic;
  }
}

@media screen and (max-width: 600px) {
  .title {
    color: green;
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  .title {
    color: red;
  }
}

.r {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background-color: black;

  @include media(md) {
    top: 0;
    transform: translateX(-50%);
  }

  @include media() {
    top: unset;
    bottom: 0;
  }
}

.header__login-block {
  @include media(sm) {
    display: none;
  }
}
