.aboutUs {
    width: 100%;
    height: 100vh;
    background-image: url("../images/bg-main.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 40px;
        height: 40px;
        border: 1px solid $link-text-color;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 42px;
    }

    &::after {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        border-bottom: 1px solid $link-text-color;
        border-right: 1px solid $link-text-color;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        bottom: 60px;
    }
}

.aboutUs__wrapper {
    margin-top: 37%;
}

.aboutUs__note {
    text-align: center;
    color: $link-text-color;
    letter-spacing: 0.3em;

    @include media(md) {
        font-size: 26px;
        line-height: 55px;
        letter-spacing: 0.1em;
    }

    @include media(sm) {
        font-size: 19px;
        line-height: 31px;
        letter-spacing: 0.1em;
    }

    @include media(xs) {
        line-height: 24px;
        letter-spacing: 0.1em;
    }

    @include media(sxs) {
        font-size: 16px;
        letter-spacing: 0;
    }
}

.aboutUs__title {
    color: $link-text-color;
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    letter-spacing: 0.1em;
    color: $link-text-color;

    @include media(md) {
        font-size: 72px;
        line-height: 100px;
        letter-spacing: 0;
    }

    @include media(sm) {
        font-size: 55px;
        line-height: 75px;
        letter-spacing: 0;
    }

    @include media(xs) {
        font-size: 46px;
        line-height: 84px;
    }

    @include media(sxs) {
        font-size: 30px;
        line-height: 50px;
    }
}
