// typography
$default-font-name: 'Raleway';
$main-font: $default-font-name, Arial, Helvetica, sans-serif;
$path-fonts: '../fonts/';
// gap
$gap: 15px;
$gap_top: 40px;
// width
$width_container: 1170px;
// typography
$title-font-name: 'Roboto', Arial, Helvetica, sans-serif;
// colors
$border-color: #FFCC00;
