.benefits {

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__details {
        padding: 55px 25px 100px;
        border-top: 1px solid #E4E4E4;
        max-width: 600px;

        .box-switcher__input:checked~main & {
            border-top: 1px solid $border-color-contrast;
        }

        @media screen and (max-width: 1200px) {
            padding: 45px 25px 41px;
        }

        @media screen and (max-width: 768px) {
            padding: 33px 25px 18px;
            ;
        }

        @include h3-and-span(40px, 48px);

        @media screen and (max-width: 768px) {
            @include h3-and-span(30px, 38px);
        }

        @include p;

        @media screen and (max-width: 768px) {
            @include p(17px, 24px);
        }

        h3 {
            margin-bottom: 30px;

            @media screen and (max-width: 768px) {
                margin-bottom: 13px;
            }

            p {
                margin-bottom: 20px;
            }
        }
    }

    &__details:nth-child(3) {
        h3 {
            max-width: 487px;
        }
    }
}

.benefits-reviews {
    background-image: url(../images/quote-background.jpg);
    background-repeat: no-repeat;
    padding-top: 8%;
    padding-bottom: 8%;

    @media screen and (max-width: 992px) {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .benefits-reviews__wrapper {
        max-width: 920px;
        margin: 0 auto;

        @media screen and (max-width: 1200px) {
            padding: 0 126px;
        }

        @media screen and (max-width: 992px) {
            padding: 0 100px;
        }

        @media screen and (max-width: 768px) {
            padding: 0 50px;
        }

        @media screen and (max-width: 480px) {
            padding: 0 15px;
        }
    }

    blockquote {
        position: relative;
        max-width: 710px;
        max-height: 140px;
        font-family: $main-font;
        font-weight: 400;
        font-size: 32px;
        line-height: 46px;
        letter-spacing: 0.04em;
        color: $contrast-color;
        margin-bottom: 40px;

        @media screen and (max-width: 992px) {
            font-size: 24px;
            line-height: 37px;
            margin-bottom: 25px;
        }

        @media screen and (max-width: 768px) {
            font-size: 18px;
            line-height: 31px;
            margin-bottom: 21px;
        }

        @media screen and (max-width: 480px) {
            font-size: 16px;
            line-height: 29px;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -31px;
            left: -61px;
            width: 109px;
            height: 88px;
            background-image: url(../images/quote-icon.svg);
            background-repeat: no-repeat;

            .box-switcher__input:checked~main & {
                background-image: url(../images/quote-icon-dark.svg);
            }

            @media screen and (max-width: 992px) {
                background-size: 75%;
                top: -11px;
            }

            @media screen and (max-width: 768px) {
                background-size: 70%;
                top: -11px;
                left: -37px;
                width: 137px;
            }

            @media screen and (max-width: 480px) {
                background-size: 56%;
                top: -6px;
                left: -10px;
                width: 81px;
            }
        }
    }

    cite {
        font-family: $title-font;
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.08em;
        color: $contrast-color;

        @media screen and (max-width: 992px) {
            font-size: 17px;
            line-height: 8px;
        }

        @media screen and (max-width: 768px) {
            font-size: 12px;
        }
    }
}
