%red-link {
    display: inline-block;
    font-family: $main-font;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: none;
    color: $button-red;
    outline: none;
    position: relative;
    transition: all .3s ease-in-out;
}

%red-link-line {
    content: '';
    display: block;
    height: 13px;
    background-color: $button-red;
    opacity: 0.3;
    position: absolute;
    top: 50%;
}
