body {
    position: relative;
}

.box-switcher__btn>span {
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 32px;
    right: $gap;
    background-color: $main-color;
    border-radius: 50%;
    z-index: 20;

    &::before {
        content: '◐';
        position: absolute;
        visibility: visible;
        opacity: 1;
        font-size: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $bg-light-color;
    }

    &::after {
        content: '◑';
        position: absolute;
        visibility: hidden;
        opacity: 0;
        font-size: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $bg-light-color;
    }
}

.box-switcher__input {
    @include visuality-hidden;
    position: absolute;
    top: 32px;
    z-index: 10;
    right: $gap;

    &:checked {
        &+.box-switcher__btn {
            span {

                &::before {
                    visibility: hidden;
                    opacity: 0;
                }

                &::after {
                    visibility: visible;
                    opacity: 1;
                }

            }

        }

        &~.background {
            background-image: url(../images/First-Screen-Bg-Image-dark.jpg);
        }

        &~header {
            .menu .menu__link {
                color: $contrast-color;
            }
        }

        &~footer {
            .container {
                .border {
                    border-top: 1px solid $border-color-contrast;

                    p {
                        color: $contrast-color;
                        opacity: 0.3;
                    }

                    a {
                        color: $contrast-color;
                        opacity: 0.8;

                        &:hover {
                            color: $button-green;
                        }
                    }
                }
            }
        }
    }
}
