.player {
    position: relative;
    max-width: 970px;
    height: auto;
    border: 1px solid $text-accent;
    padding: 31px 0 30px 30px;
    border-radius: 32px;
    margin: 0 auto;
    margin-bottom: 35px;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 13px;
        height: 13px;
        left: 0.9%;
        top: 50%;
        border: 1px solid $text-accent;
        border-radius: 32px;
        transform: translateY(-50%);
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 35px;
        height: 35px;
        right: 2%;
        top: 50%;
        border: 1px solid $text-accent;
        border-radius: 32px;
        transform: translateY(-50%);
    }

    .player__screen {
        position: relative;
        max-width: 870px;
        border-radius: 8px;
        overflow: hidden;

        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 120px;
            height: 120px;
            background: rgba(88, 98, 145, 0.3);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 35px;
            height: 35px;
            background-image: url(../images/Polygon-black.svg);
            top: 50%;
            left: 50%;
            transform: translate(-25%, -50%);
            background-repeat: no-repeat;
        }
    }
}

.video {
    @include h3-and-span(40px, 48px);
    @include p;

    h3 {
        margin-bottom: 20px;
    }

    p {
        max-width: 897px;
    }
}
