.video__wrapper {
    max-width: 970px;
    margin: 0 auto;
}

.player {
    position: relative;
    height: auto;
    border: 1px solid $text-accent;
    padding: 31px 0 30px 30px;
    border-radius: 32px;
    margin-bottom: 35px;

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 13px;
        height: 13px;
        left: 0.9%;
        top: 50%;
        border: 1px solid $text-accent;
        border-radius: 32px;
        transform: translateY(-50%);
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 35px;
        height: 35px;
        right: 2%;
        top: 50%;
        border: 1px solid $text-accent;
        border-radius: 32px;
        transform: translateY(-50%);
    }

    .player__screen {
        position: relative;
        max-width: 870px;
        border-radius: 8px;
        overflow: hidden;
    }
}

.video {
    @include h3-and-span(40px, 48px);
    @include p;

    h3 {
        margin-bottom: 20px;
    }

    p {
        max-width: 897px;
    }
}
