.header {
    min-width: 0; //important

    /* Слайдер */
    .slick-slider {
        position: relative;
        min-width: 0;
    }

    /* Слайдер запущен */
    .slick-slider.slick-initialized {}

    /* Слайдер с точками */
    .slick-slider.slick-dotted {}

    /* Ограничивающая оболочка */
    .slick-list {
        overflow: hidden; //important
    }

    /* Лента слайдов */
    .slick-track {
        display: flex; //important*
    }

    /* Слайд */
    .slick-slide {}

    /* Слайд активный (показывается) */
    .slick-slide.slick-active {}

    /* Слайд основной */
    .slick-slide.slick-current {}

    /* Слайд по центру */
    .slick-slide.slick-center {}

    /* Клонированный слайд */
    .slick-slide.slick-cloned {}

    /* Стрелка */
    .slick-arrow {}

    /* Стрелка влево */
    .slick-arrow.slick-prev {}

    /* Стрелка вправо */
    .slick-arrow.slick-next {}

    /* Стрелка не активная */
    .slick-arrow.slick-disabled {}

    /* Точки (булиты) */
    .slick-dots {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%, );
        display: flex;
    }

    .slick-dots li {
        margin: 0 15px;
    }

    .slick-dots li button {
        font-size: 0;
        line-height: 0;
        padding: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $color_brown_light;
        border: none;
    }

    /* Активная точка */
    .slick-dots li.slick-active button {
        background-color: $color_tomato_light;
    }
}

.new {
    min-width: 0; //important

    /* Слайдер */
    .slick-slider {
        position: relative;
        min-width: 0;
    }

    /* Слайдер запущен */
    .slick-slider.slick-initialized {}

    /* Слайдер с точками */
    .slick-slider.slick-dotted {}

    /* Ограничивающая оболочка */
    .slick-list {
        overflow: hidden; //important
    }

    /* Лента слайдов */
    .slick-track {
        display: flex; //important*
    }

    /* Слайд */
    .slick-slide {
        height: 100%;
    }

    /* Слайд активный (показывается) */
    .slick-slide.slick-active {}

    /* Слайд основной */
    .slick-slide.slick-current {}

    /* Слайд по центру */
    .slick-slide.slick-center {}

    /* Клонированный слайд */
    .slick-slide.slick-cloned {}

    /* Стрелка */
    .slick-arrow {}

    /* Стрелка влево */
    .slick-arrow.slick-prev {}

    /* Стрелка вправо */
    .slick-arrow.slick-next {}

    /* Стрелка не активная */
    .slick-arrow.slick-disabled {}

    /* Точки (булиты) */
    .slick-dots {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translate(-50%, );
        display: flex;
    }

    .slick-dots li {
        margin: 0 15px;
    }

    .slick-dots li button {
        font-size: 0;
        line-height: 0;
        padding: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $color_brown_light;
        border: none;
    }

    /* Активная точка */
    .slick-dots li.slick-active button {
        background-color: $color_tomato_light;
    }
}
