$color_black: #000000;
$color_brown_dark: #35312D;
$color_arrow_inactive: #202020;
$color_tomato: #C62100;
$color_tomato_light: #F16A50;
$color_brown_light: #F8F1EA;
$color_dot_inactive: rgba(248, 241, 234, 0.7);
$color_dark_dot_inactive: #CAC2BA;
$color_white: #ffffff;
