@use "sass:math";
@import './reset';
@import './vars';
@import './grid-class-generator';
@include grid(12);
@import './fonts';
@import './global';
@import './header';
@import './main';
@import './sliders';
@import "./footer";
@import "./md";
