.footer {
    background-color: $color-black;
    padding: 80px 0;

    @include media() {
        padding-top: 60px;
        padding-bottom: 80px;
    }


    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text {
        padding-top: 10px;
        @include font-style-for-text('Josefin Sans');
        @include font-for-text(400, 14px, 20px);
        color: $color-white;
        letter-spacing: 0.2em;

    }
}

.links {

    &__wrapper {
        padding-top: 20px;
        display: flex;
    }

    &__item {


        &:not(:last-child) {
            padding-right: 32px;
        }
    }


    &__svg {
        fill: $color-white;

        &:hover {
            fill: $color-darkblue;
        }
    }
}
