.footer {
    background-image: url("../images/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: #7d5cfa;

    &__container {

        // For Perfect pixel
        // padding-top: 400px;
        @media screen and (max-width:768px) {
            max-width: 100%;
        }
    }

    &__contact-wrapper {
        position: relative;
        background-image: url("../images/footer-city.png");
        background-position: bottom;
        background-repeat: no-repeat;
        margin: 0 auto;
        justify-content: center;
        background-color: #fff;
        max-width: 770px;
        margin-bottom: 55px;
        // Set margin when there is a map
        margin: -314px auto 0;
    }

    &__contact-header-title {
        font-family: $font-second;
        font-weight: normal;
        font-size: 44px;
        line-height: 44px;
        text-align: center;
        color: #2c4058;
        padding-top: 85px;
        margin-bottom: 43px;
        position: relative;
        @include line-before-upper($color-pickled-bluewood, 60px);
        @include adaptive-font-size(44, 26);

        &::after {
            z-index: 20;
        }
    }

    &__contact-adress {

        &_position {
            padding-left: 61px;
            margin-bottom: 24px;

            @media screen and (max-width: 576px) {
                padding-left: 0;
                text-align: center;
            }
        }
    }

    &__contact-tel {
        display: block;

        &_position {
            padding-left: 66px;
            margin-bottom: 24px;

            @media screen and (max-width: 576px) {
                padding-left: 0;
                text-align: center;
            }
        }
    }

    &__contact-email {
        display: block;

        &_position {
            padding-left: 67px;
            margin-bottom: 24px;
        }

        @media screen and (max-width: 576px) {
            padding-left: 0;
            text-align: center;
        }
    }

    &__contact-time {

        &_position {
            padding-left: 65px;

            @media screen and (max-width: 768px) {
                margin-bottom: 24px;
            }

            @media screen and (max-width: 576px) {
                padding-left: 0;
                text-align: center;
            }
        }
    }

    &__contact-form {

        &_position {
            margin-bottom: 40px;
        }
    }

    &__contact-form-name,
    &__contact-form-email {
        display: block;
        box-sizing: border-box;
        font-size: 100%;
        margin: 0;
        overflow: visible;
        color: #2c4058;
        outline: none;
        border: transparent;
        border-bottom: 1px solid #d5d9de;
        font-weight: 600;
        padding: 6px 0 16px 10px;
        width: 83%;
        font-size: 18px;
        font-family: $font-default;
        line-height: 1.222;
        @include adaptive-font-size(18, 16);
    }

    &__contact-form-name {

        &_position {
            margin-left: 6px;
            margin-bottom: 31px;
        }
    }

    &__contact-form-email {

        &_position {
            margin-left: 6px;
            margin-bottom: 28px;
        }
    }

    &__contact-form-btn {
        line-height: 1.15;
        overflow: visible;
        font-family: $font-default;
        color: #2c4058;
        outline: none;
        width: 140px;
        height: 50px;
        border: 1px solid #2c4058;
        align-self: flex-end;
        text-transform: uppercase;
        font-size: 14px;
        background-color: transparent;
        cursor: pointer;

        &_position {
            margin-left: 186px;
            margin-bottom: 40px;

            @media screen and (max-width: 768px) {
                margin: 0 auto;
            }
        }
    }

    &__cover {
        margin-bottom: 27px;
        padding-top: 55px;
    }

    &__logo {
        display: flex;
        justify-content: center;
        padding-left: 70px;

        @media screen and (max-width: 768px) {
            padding-left: 0px;
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        padding-right: 9px;
    }

    &__content {
        padding-left: 215px;
        margin-bottom: 193px;

        @media screen and (max-width: 576px) {
            margin-bottom: 50px;
        }

        @media screen and (max-width: 452px) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        @media screen and (max-width: 992px) {
            padding-left: 0;
            justify-content: center;
        }
    }

    &__text {
        font-size: 14px;
        font-family: $font-default;
        color: $color-white;
        line-height: 1.571;
        margin-right: 18px;

        @media screen and (max-width: 576px) {
            margin-right: 0;
            text-align: center;
        }
    }
}

.contact-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    color: #2c4058;
    text-decoration: none;
    @include adaptive-font-size(18, 13);
}

.social__items_position {
    padding: 0;

    @media screen and (max-width: 576px) {
        padding-left: 0 !important;
    }
}

.footer {

    &__input-wrapper {
        position: relative;
    }

    &__input-text-msg {
        position: absolute;
        top: 90%;
        left: 3%;
        @include adaptive-font-size (14, 12);
    }
}

// Social Item Footer
.social {

    &__items {
        display: flex;
        padding-left: 14px;

        @media (max-width: 1200px) {
            justify-content: center;
        }
    }

    &__item {
        padding: 7px 0px 0px 20px;

        &:hover {
            opacity: 1;
            transform: scale(1.05);
            transition: all 0.2s cubic-bezier(0.21, 0.3, 1, 0.99);
        }
    }

    &__item-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 1px solid $color-white;
        border-radius: 50%;
    }

    &__item-svg {
        fill: $color-white;
    }
}
