.news {
    @include bg-cover("../images/news-bg.png");
    padding-top: 161px;
    padding-bottom: 149px;
    overflow-y: hidden;
    overflow-x: hidden;

    @media screen and (max-width: 576px) {
        padding-bottom: 74.5px;
    }

    &__container {
        line-height: 22px;
        position: relative;
    }

    &__title-text {
        font-family: $font-second;
        font-size: 44px;
        line-height: 44px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 77px;
        @include line-before-upper($color-white, -21px);
        @include adaptive-font-size(44, 26);

        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
        }

        @media screen and (max-width: 360px) {
            margin-bottom: 10px;
        }
    }
}

.news-items {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}

.news-item {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.img-rew {
    position: relative;
    overflow: hidden;

    &_img {
        display: block;
        width: 100%;
    }

    &_img-link::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* fallback for old browsers */
        background: #000000;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.6615021008403361) 0%, rgba(0, 0, 0, 0.6895133053221288) 53%, rgba(0, 0, 0, 0.8519782913165266) 100%);
        z-index: 1;
        visibility: hidden;
        z-index: 1;
        transition: all .2s ease-in-out;
    }

    &:hover &_img-link::after {
        transform: scale(1.000);
        visibility: visible;
    }

    &:hover &_img {
        transition: all .2s ease-in-out;
        transform: scale(1.019);
        overflow: hidden;
    }

    &__circle {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid $color-white;
        @include position-center;
        z-index: 2;
        visibility: hidden;

        &::before,
        &::after {
            content: "";
            display: block;
            background-color: $color-white;
            @include position-center;
            visibility: hidden;
        }

        &::before {
            width: 1px;
            height: 20px;
        }

        &::after {
            width: 20px;
            height: 1px;
        }
    }

    &:hover &__circle,
    &:hover &__circle::after,
    &:hover &__circle::before {
        visibility: visible;
    }
}



.news-info {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    flex-grow: 1;
    background-color: $color-white;
    padding: 20px;

    @media screen and (max-width: 7680px) {
        width: 100%;
    }

    &__title {
        text-transform: uppercase;
        font-size: 22px;
        line-height: 34px;
        color: $color-pickled-bluewood;
        font-family: $font-third;
        margin: 0 auto 5px;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        letter-spacing: 0.3px;
        @include adaptive-font-size(22, 10);

        @media screen and (max-width: 1200px) {
            font-size: 17px;
            line-height: 25px;
        }

    }

    &__text {
        font-size: 18px;
        line-height: 30px;
        color: $color-river-bed;
        font-family: $font-fifth;
        margin-bottom: 30px;
        flex-grow: 1;
        letter-spacing: 0.12px;
        @include adaptive-font-size(18, 14);
    }
}

.user-rew {
    &__icon {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        float: left;
        margin-right: 20px;

        &_user1 {
            background-image: url("../images/news-author-photo-1.png");
        }

        &_user2 {
            background-image: url("../images/news-author-photo-2.png");
        }

        &_user3 {
            background-image: url("../images/news-author-photo-3.png");
        }
    }

    &__user-name {
        display: block;
        padding-top: 9.5px;
        font-size: 18px;
        color: $color-pickled-bluewood;
        font-family: $font-default;
        text-transform: uppercase;
        @include adaptive-font-size(18, 14);
    }

    &__date {
        display: block;
        font-size: 14px;
        line-height: 22px;
        color: $malibu;
        margin-bottom: 17px;
        @include adaptive-font-size(14, 12);
    }
}

@media screen and (max-width: 768px) {
    .news {
        padding-top: 50px;

        &__title {
            font-size: 45px;
            margin-bottom: 20px;

            @media screen and (max-width: 480px) {
                font-size: 30px;
            }
        }
    }

    .news-items {
        padding: 0 70px;

        @media screen and (max-width: 550px) {
            padding: 0;
        }
    }

    .news-info {

        &__title {
            line-height: 22px;
        }

        &__text {
            line-height: 26px;
        }
    }
}

// Slider Button
//  Connecting in script.js
// prevArrow: $('.news__navigation-previous'),
// nextArrow: $('.news__navigation-next'),
.news-slider-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: .8;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid $color-white;
}

.news__navigation-previous {
    left: -7.1%;
    top: 53.5%;

    @media screen and (max-width: 1400px) {
        left: -3.5%;
    }

    @media screen and (max-width: 1291px) {
        left: 3.5%;
        top: 48.5%;
        background-color: rgba(0, 0, 0, 0.2615021008403361);
        border: 1px solid black;
        z-index: 1;
    }

    @media screen and (max-width: 1200px) {
        left: 3.5%;
        top: 48.5%;
        background-color: rgba(0, 0, 0, 0.2615021008403361);
        border: 1px solid black;
        z-index: 1;
    }

    @media screen and (max-width: 992px) {
        left: -5.5%;
        border: 1px solid $color-white;
        background-color: transparent;
    }

    @media screen and (max-width: 768px) {
        left: 4%;
    }

    @media screen and (max-width: 576px) {
        left: 5.5%;
        background-color: rgba(0, 0, 0, 0.2615021008403361);
        border: 1px solid black;
    }
}

.news__navigation-next {
    right: -7.1%;
    top: 53.5%;

    @media screen and (max-width: 1400px) {
        right: -3.5%;
    }

    @media screen and (max-width: 1291px) {
        right: 4.5%;
        top: 48.5%;
        background-color: rgba(0, 0, 0, 0.2615021008403361);
        border: 1px solid black;
        z-index: 1;
    }

    @media screen and (max-width: 1200px) {
        right: 4.5%;
        top: 48.5%;
        background-color: rgba(0, 0, 0, 0.2615021008403361);
        border: 1px solid black;
        z-index: 1;
    }

    @media screen and (max-width: 992px) {
        right: -5.5%;
        border: 1px solid white;
        background-color: transparent;
    }

    @media screen and (max-width: 768px) {
        right: 4%;
    }

    @media screen and (max-width: 576px) {
        right: 5.5%;
        background-color: rgba(0, 0, 0, 0.2615021008403361);
        border: 1px solid black;
    }
}

.news__navigation-next,
.news__navigation-previous {
    opacity: 0.5;
    transition: opacity 0.9s cubic-bezier(0.14, 0.24, 0.66, 0.74);
}

.news__navigation-next:hover,
.news__navigation-previous:hover {
    opacity: 1;
}

//Dosts
.news__section-dots {
    position: absolute;
    display: inline-block;
    top: 96%;
    left: 39.91%;

    @media screen and (max-width: 992px) {
        left: 29.91%;
    }

    @media screen and (max-width: 768px) {
        left: 25.91%;
    }

    @media screen and (max-width: 576px) {
        left: 28.91%;
    }

    @media screen and (max-width: 555px) {
        left: 25.91%;
    }

    @media screen and (max-width: 460px) {
        left: 23%;
    }

    @media screen and (max-width: 420px) {
        left: 21%;
    }

    @media screen and (max-width: 380px) {
        left: 18%;
    }

    @media screen and (max-width: 370px) {
        left: 15%;
    }

    @media screen and (max-width: 360px) {
        left: 17%;
    }

    @media screen and (max-width: 350px) {

        left: 15%;
    }

    @media screen and (max-width: 350px) {
        left: 12.5%;
    }

    @media screen and (max-width: 279px) {
        left: 6.5%;
    }
}

.news__section-dots ul {
    position: relative;
    display: inline-block;
}

.news__section-dots>ul li {
    width: 9px;
    height: 9px;
    margin: 0 20px;
}

.news__section-dots>ul li button {
    visibility: hidden;
}

.news__section-dots .slick-active {
    background-color: $color-white;
}
