.projects {
    background-color: $color-projects-bg;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;

    &::before {
        content: "";
        width: 38.6%;
        height: 470px;
        position: absolute;
        right: 0%;
        bottom: 12.85%;
        background-color: $color-projects-commerce-bg-aftef;

        @media (max-width: 1200px) {
            display: none;
        }
    }

    &::after {
        content: "";
        width: 38.5%;
        height: 470px;
        position: absolute;
        left: 0%;
        bottom: 54.5%;
        background-color: $color-projects-trade-bg-before;

        @media (max-width: 1200px) {
            display: none;
        }
    }

    &__container {
        position: relative;
        padding-top: 133px;

        @media (max-width: 360px) {
            padding-top: 67px;
        }
    }

    &__title {
        justify-content: center;
        text-align: center;
        margin-bottom: 161px;

        @media (max-width: 768px) {
            margin-bottom: 70px;
        }

        @media (max-width: 576px) {
            margin-bottom: 50px;
        }

        @media (max-width: 360px) {
            margin-bottom: 30px;
        }

        &::before {
            content: "";
            display: block;
            width: 8.8%;
            height: 1px;
            border-top: 1px solid $pickled-bluewood;
            text-align: center;
            position: absolute;
            top: 98px;

            @media (max-width: 992px) {
                width: 13.8%;
            }

            @media (max-width: 768px) {
                width: 17.8%;
            }

            @media (max-width: 576px) {
                width: 17.8%;
            }

            @media (max-width: 360px) {
                width: 21.8%;
                top: 49px;
            }
        }
    }

    &__trade {
        position: relative;
        margin-bottom: 115px;

        @media (max-width: 360px) {
            margin-bottom: 15px;

        }
    }

    &__trade-img-wrapper {
        z-index: 10;
        padding-left: 15px;

        @media (max-width: 768px) {
            z-index: 0;
        }

        @media (max-width: 576px) {
            padding: 0px 0px 0px 0px;
            box-shadow: none;
            z-index: 0;
        }
    }

    &__trade-img {

        @media (max-width: 576px) {
            box-shadow: none;
        }
    }

    &__trade-subtitle {
        padding: 56px 0px 0px 17px;
        margin-bottom: 5px;

        @media (max-width: 576px) {
            text-align: center;
        }

        @media (max-width: 360px) {
            padding: 15px 0px 0px 0px;
        }

    }

    &__trade-title {
        padding: 0px 0px 0px 17px;

        @media (max-width: 576px) {
            text-align: center;
            margin-bottom: 10px;
            padding: 0px 0px 0px 0px;
        }

        @media (max-width: 360px) {
            padding: 0px 0px 0px 0px;
        }
    }

    &__trade-text {
        padding: 25px 0px 0px 15px;
        margin-bottom: 30px;

        @media (max-width: 576px) {
            padding: 0px 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__trade-btn {
        margin-left: 15px;
        margin-bottom: 52px;

        @media (max-width: 576px) {
            margin: 0 auto;
            margin-bottom: 22px;
        }

        @media (max-width: 360px) {
            margin: 0 auto;
            margin-bottom: 22px;
        }
    }

    &__trade-location-text {
        padding: 0px 0px 0px 17px;

        @media (max-width: 576px) {
            text-align: center;
            padding: 0;
        }
    }

    &__commerce-info-wrapper {
        padding-top: 255px;

        @media (max-width: 768px) {
            padding-top: 100px;
        }

        @media (max-width: 360px) {
            padding-top: 50px;
        }
    }

    &__commerce-subtitle {
        padding: 0px 0px 0px 29px;
        margin-bottom: 5px;

        @media (max-width: 576px) {
            padding: 0px 0px 0px 0px;
            text-align: center;
        }
    }

    &__commerce-title {
        padding: 0px 0px 0px 30px;
        margin-bottom: 23px;

        @media (max-width: 576px) {
            padding: 0px 0px 0px 0px;
            text-align: center;
            margin-bottom: 10px;
        }
    }

    &__commerce-text {
        padding: 0px 0px 0px 28px;
        margin-bottom: 33px;

        @media (max-width: 576px) {
            padding: 0px 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__commerce-btn {
        margin-left: 30px;
        margin-bottom: 53px;

        @media (max-width: 576px) {
            margin: 0 auto;
            margin-bottom: 22px;
        }

        @media (max-width: 360px) {
            margin: 0 auto;
            margin-bottom: 22px;
        }
    }

    &__commerce-location-text {
        padding: 0px 0px 0px 31px;

        @media (max-width: 576px) {
            text-align: center;
            padding: 0;
            margin-bottom: 15px;
        }
    }

    &__commerce-img-wrapper {
        z-index: 10;
        padding: 201px 0px 0px 58px;

        @media (max-width: 976px) {
            padding: 201px 0px 0px 30px;
        }

        @media (max-width: 768px) {
            padding: 101px 0px 0px 30px;
        }

        @media (max-width: 576px) {
            padding: 0px 0px 0px 0px;
        }
    }

    &__commerce-img {

        @media (max-width: 576px) {
            box-shadow: none;
        }
    }
}

.title {
    font-family: $font-third;
    text-transform: uppercase;
    line-height: 1.091;
    color: $color-projects-title;
    @include adaptive-font-size(44, 26);
}

.subtitle {
    font-family: $font-default;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 22px;
    color: $color-projects-subtitle;
    line-height: 1.091;
    @include adaptive-font-size(22, 18);
}

.text {
    font-size: 18px;
    font-family: $font-fifth;
    color: $color-projects-subtitle;
    line-height: 1.667;
    letter-spacing: 0.01em;
    @include adaptive-font-size(18, 14);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 190px;
    height: 50px;
    border: 1px solid $color-projects-button-border;
    font-size: 14px;
    font-family: $font-default;
    color: $color-projects-button-text;
    text-transform: uppercase;
}

.button:hover {
    transform: scale(1.03);
    transition: transform 0.5s cubic-bezier(0.21, 0.3, 1, 0.99);
}

.location-text {
    font-family: $font-fourth;
    font-size: 18px;
    color: $color-projects-location-text;
    line-height: 1.667;
    @include adaptive-font-size(18, 14);

    @media (max-width: 360px) {
        margin-bottom: 15px;
    }
}

.container {
    @media (max-width: 992px) {
        max-width: 720px;
    }

    @media (max-width: 768px) {
        max-width: 540px;
    }

    @media (max-width: 576px) {
        max-width: 100%;
    }
}

.whatWeDo {
    padding: 105px 0 110px;
    position: relative;

    &::before,
    &::after {
        content: '';
        width: 35%;
        height: 470px;
        position: absolute;
        z-index: -1;
        background-color: brown;
    }

    &::before {
        top: 273px;
        left: 0;
    }

    &::after {
        bottom: 210px;
        right: 0;
    }

    &__heading {
        text-align: center;
        font-size: 44px;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 65px;

        &::before {
            content: '';
            top: -21px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            width: 100px;
            height: 1px;
        }
    }

    &__content {
        padding-top: 70px;

        &-title,
        &-title2 {
            text-transform: uppercase;
        }

        &-title {
            font-size: 22px;
            margin-top: 48px;

            &2 {
                font-size: 44px;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 1.09;
                margin-bottom: 24px;
            }
        }

        &-btn {
            margin-top: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            width: 190px;
            height: 50px;

            &-text {
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
            }
        }

        &-location {
            margin-top: 52px;
            font-style: italic;
            position: relative;
            padding-left: 19px;

            &::before {
                content: url("../image/location01.svg");
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        &-img {
            display: block;
            width: 94.0321%;

            &-wrapp {
                display: flex;
                justify-content: flex-end;
            }
        }

        &-trade {
            margin-bottom: 110px;
        }

        &-commerce {
            display: flex;
            flex-direction: row-reverse;
        }
    }
}
