$white: white;
$gray: #5a5a5a;
$color-black: #000;
$color-purple: #5474FD;
$color-red: #de2e45;
$color-text-grey: #b9bcd1;
$quicksilver: #E1E1E1;
$lightgray: #999;
$mine-coal: #232323;
$darkgray: #2C4058;
$river-bed: #4B5562;
$blue: #55B7FF;
$lavender: #7E5AFF;
$bright-blue: #7C5CF9;


$input-border-color: $gray;
$default-border: 1px solid $input-border-color;
$default-border-radius: 5px;

$container-width: 1200px;
$default-gap: 15px;

$body-bg-color: $white;
$border-color: $gray;

$color-header-name-h1: $white;
$color-header-button-bg: $color-purple;
$color-header-navigation-bg: $color-purple;

$border-menu-bottom: $gray;
$menu-hover-color: $color-purple;
$menu-default-text-color: $gray;
$menu-icon-color: $gray;
$color-overlay-menu-window: $white;
$color-overlay-menu: $color-black;
$color-language-deafult: $gray;

$color-info-bg: $white;
$color-info-name: $darkgray;
$color-info-subname: $darkgray;
$color-info-text: $cay;
$color-info-button-border: $darkgray;
$color-info-button-text: $darkgray;
$color-info-location-text: $darkgray;
$color-info-trade-bg-before: $blue;
$color-info-commerce-bg: $lavender;

$color-footer-bg: $mine-coal;
$color-footer-name: $white;
$color-footer-sub-name: $white;
$color-footer-social-icon: $quicksilver;
$color-footer-social-icon-hover: $color-purple;
$color-darkgray: #2c4058;
$color-cay: #4b5562;

$color-btn-bg: $color-purple;
$color-btn-text: $white;

$font-folder-path: '../fonts/';
$folder-image: '../images/';

$font-default-name: 'Montserrat500';
$font-second-name: 'Montserrat700';
$font-third-name: 'Montserrat-Regular';
$font-fourth-name: 'OpenSans-Italic';
$font-fifth-name: 'OpenSans-Italic-Regular';

$follback: Arial,
    Helvetica,
    sans-serif;

$font-default: $font-default-name,
    $follback;

$font-second: $font-second-name,
    $follback;

$font-third: $font-third-name,
    $follback;

$font-fourth: $font-fourth-name,
    $follback;

$font-fifth: $font-fifth-name,
    $follback;

$default-font-size: 14px;
$default-line-height: 2.1875;
$default-color-text: $darkgray;

$breack-points: (
    "xl": 1200px,
    "lg": 992px,
    "md": 768px,
    "sm": 576px
);
