$default-font-name: 'Raleway';

$another-fonts: Arial, Helvetica, sans-serif;
$main-font: $default-font-name, $another-fonts;

$path-fonts: '../fonts/';

$default-width: 1200px;

$gap: 15px;

$color-gold: #FFCC00;
$color-sub: #898F8F;
$color-main: #666666;
$color-main-dark: #333333;

$bonfire-border: 5px solid white;
