$color-white: #FFFFFF;
$color-black: #000000;
$color-default: #2C4058;
$color-light-blue: #55B7FF;
$color-purple: #7E5AFF;

$bg-color-body: $color-white;

$bg-transparent-review: linear-gradient(rgba(25, 28, 41, 0.6),rgba(25, 28, 41, 0.6));

$default-font-name: 'Montserrat';
$main-font: $default-font-name,
Arial,
Helvetica,
sans-serif;
$font-open-sans: "Open Sans", Arial, Helvetica, sans-serif;
$font-source-sans-pro: "Source Sans Pro", Arial, Helvetica, sans-serif;
$path-fonts: '../fonts/';

$gap: 15px;

$default-width: 1170px;

$breack-points: ("lg": 1200px,
    "md": 1024px,
    "sm": 768px,
    "xs": 576px,
    "xxs": 480px);
