.header {
    min-width: 0;

    .slick-slider {
        min-width: 0;
    }

    .slick-list {
        overflow: hidden; //important
    }

    .slick-track {
        display: flex; //important*
    }

    .slick-dots {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 52px;
        z-index: 100;
    }

    .slick-dots li {
        font-size: 0;
        line-height: 0;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .slick-dots li.slick-active {
        border-radius: 50%;
        background-color: white;
    }

    .slick-dots li button {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid white;
        background-color: transparent;
    }
}
