.gallery {
    &__rowTwo {
        margin-top: 90px;
        margin-bottom: 60px;
    }

    &__rowThree {
        text-align: center;
        margin-bottom: 150px;
    }
}


.pictures {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;

    &__item {
        padding-top: 75%;
        position: relative;
        transition: padding-top 0.3s ease-in-out;

        &:first-of-type {
            grid-column-end: span 2;
            grid-row-end: span 2;
            position: relative;

            &::after {
                content: url(../images/gallery/bi_zoom-in.svg);
                position: absolute;
                z-index: 20;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                pointer-events: none;
            }
        }
    }

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        cursor: pointer;
    }
}

.hiddable {
    padding-top: 0;
    transition: padding-top 0.3s ease-in-out;
}
