// html {
//     scroll-behavior: smooth;
// }

.page {

    font-family: 'Open Sans', $fallback;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: $font-color-black;
}

.headerOne {
    font-family: 'Montserrat', $fallback;
    font-weight: 700;
    font-size: 80px;
    line-height: 98px;
    letter-spacing: 0.1em;
    color: $font-color-white;

    &_subheader {
        font-family: 'Montserrat', $fallback;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.3em;
        color: $font-color-white;
    }
}

.headerTwo {
    font-family: 'Montserrat', $fallback;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;

    &_subheader {
        font-family: 'Montserrat', $fallback;
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        text-transform: uppercase;
        display: block;
    }

    &_line {
        text-align: center;
        padding-top: 31px;
        box-sizing: border-box;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 100px;
            height: 1px;
            border-top: 1px solid $font-color-black;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%, 0);
        }
    }

    &_white {
        color: $font-color-white;

        &::before {
            border-top: 1px solid $font-color-white;
        }

    }

}

.headerThree {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}

.button {
    display: inline-block;
    font-family: 'Montserrat', $fallback;
    font-size: 14px;
    line-height: 17px;
    color: $button-color-black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px 0;
    border: 1px solid $button-color-border;
    width: 190px;
    text-align: center;

}



.upButton {
    @include scrollButton;
    background-color: $color-purple;
    position: fixed;
    right: 5vh;
    top: 95vh;
    transform: translate(0%, -100%) rotate(180deg);
    z-index: 1100;
}

.hidden {
    display: none;
}
