.header {
    position: relative;

    &__mainHeader {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__topBar {
        margin-top: 51px;
        position: fixed;
        z-index: 990;
        left: 0;
        right: 0;
        top: 0px;
        transition: margin-top 0.3 linear;
    }

    &__scrollButton {
        position: absolute;
        left: 50%;
        bottom: 50px;
        transform: translate(-50%, 0);
    }

    &__row {
        align-items: center;
    }
}

.bgSlider {
    background: $header-bg-gradient;
    height: 100vh;

    &__slide {
        height: 100%;
        position: relative;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.1;
    }
}

.logo {

    &__img {
        max-width: 240px;
    }
}

.mainHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    &__header {
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__subheader {}
}



.scrollButton {
    @include scrollButton;
}

.navigation {
    padding-left: 80px;
    display: flex;
    justify-content: center;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    &__item {}

    &__link {
        text-decoration: none;
        padding-left: 23px;
        position: relative;
        color: white;
        margin-right: 70px;

        &::before {
            content: '';
            box-sizing: border-box;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            box-sizing: border-box;
            border: 1px solid white;
            position: absolute;
            top: 50%;
            left: 0px;
            transform: translate(0, -50%);
        }

        &:hover {
            &::before {
                background-color: white;
            }
        }
    }

    &__link_inside {
        &::before {
            background-color: white;
        }
    }
}

.social {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    &__item {
        width: 40px;
        min-width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid white;
        overflow: hidden;

        margin-right: 18px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    // .social__link

    &__link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        font-size: 0;
        text-decoration: none;

        &>svg {
            fill: white;
        }
    }
}
