.latestNews {
    min-width: 0;

    /* Слайдер */
    .slick-slider {
        min-width: 0;
        position: relative;
    }

    /* Слайдер запущен */
    .slick-slider.slick-initialized {}

    /* Слайдер с точками */
    .slick-slider.slick-dotted {}

    /* Ограничивающая оболочка */
    .slick-list {
        overflow: hidden; //important
        box-sizing: border-box;
        margin-left: -$gap;
        margin-right: -$gap;
    }

    /* Лента слайдов */
    .slick-track {
        display: flex;
    }

    /* Слайд */
    .slick-slide {
        height: inherit;
        margin-left: $gap;
        margin-right: $gap;

        &>div {
            height: 100%;
        }
    }

    /* Слайд активный (показывается) */
    .slick-slide.slick-active {}

    /* Слайд основной */
    .slick-slide.slick-current {}

    /* Слайд по центру */
    .slick-slide.slick-center {}

    /* Клонированный слайд */
    .slick-slide.slick-cloned {}

    /* Стрелка */
    .slick-arrow {
        position: absolute;
        top: 50%;
    }

    /* Стрелка влево */
    .slick-arrow.slick-prev {
        left: 0;
        z-index: 10;
        transform: translate(-100%, -50%) rotate(90deg);
        left: -60px;
        background-color: transparent;
        font-size: 0;
        line-height: 0;
        padding: 0;
        margin: 0;

        @include scrollButton;
    }

    /* Стрелка вправо */
    .slick-arrow.slick-next {
        right: 0;
        z-index: 10;
        transform: translate(100%, -50%) rotate(-90deg);
        right: -60px;
        background-color: transparent;
        @include scrollButton;
    }

    /* Стрелка не активная */
    .slick-arrow.slick-disabled {}

    /* Точки (булиты) */
    .slick-dots {
        display: flex;
        position: absolute;
        bottom: -43px;
        transform: translate(-50%, 100%);
        z-index: 100;
        left: 50%;
    }

    .slick-dots li {
        font-size: 0;
        line-height: 0;
        margin: 0 20px;
    }

    .slick-dots li.slick-active {
        border-radius: 50%;
        background-color: $slider-dots-color;
    }

    .slick-dots li button {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid $slider-dots-color;
        background-color: transparent;
    }
}
