.whatWeDo {
    padding-top: 100px;

    &__rowOne {
        margin-bottom: 90px;
    }

    &__rowTwo {
        margin-bottom: 120px;
    }

    &__rowThree {
        margin-bottom: 150px;
    }

}

.description {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;

    &__header {
        margin-bottom: 19px;
    }

    &__text {
        margin-bottom: 31px;
    }

    &__button {
        margin-bottom: 60px;
    }

    &__location {
        margin-bottom: 26px;
    }
}

.pictureWithBgLeft {
    padding-right: 40px;
    margin-top: 57px;

    &::before {
        content: " ";
        width: 37%;
        height: 470px;
        display: block;
        z-index: -10;
        background-color: $color-light-blue;
        position: absolute;
        left: 0;
        transform: translate(0, -57px);
    }
}

.pictureWithBgRight {
    padding-left: 40px;
    margin-top: 57px;


    &::before {
        content: " ";
        width: 37%;
        height: 470px;
        display: block;
        z-index: -10;
        background-color: $color-purple;
        position: absolute;
        right: 0;
        transform: translate(0, -57px);
    }
}
