@use "sass:math";
@import './vars';
@import './grid-class-generator';
@include grid(12);
@import '../../node_modules/@fancyapps/ui/src/Fancybox/Fancybox.scss';
@import './leaflet';
@import './reset.scss';
@import './mixins';
@import './fonts';
@import './global';
@import './header';
@import './bgSlider';
@import './section-what-we-do';
@import './latestNews';
@import './newsslider';
@import './gallery';
@import './map';
@import './footer';
@import './lg';
@import './md';
@import './sm';
@import './xs';
@import './xxs';
