.example {
    &_first {
        background-image: url(../images/house.jpg);
    }

    &_second {
        background-image: url(../images/spain.jpg);
    }

    &_first,
    &_second {
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 227px;
        padding-bottom: 100px;
        background-position: bottom;

        @include media ('md') {
            padding-top: 200px;
            padding-bottom: 80px;
        }

        @include media ('sm') {
            padding-top: 100px;
            padding-bottom: 50px;
        }
    }

    &__article {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: $main-text-color;
        background-color: $gray-dark-color;
        max-width: 44%;
        padding: 50px 30px;

        @include media ('sm') {
            padding: 40px 30px;
            max-width: 80%;
            margin: 0 auto;
        }
    }

    &__article-second {
        display: flex;
        justify-content: flex-end;
    }

    &__country,
    &__title,
    &__text {
        margin-bottom: 23px;

        @include media ('sm') {
            margin-bottom: 16px;
            font-size: 14px;
        }
    }

    &__title {
        font-size: $second-title-size;
        text-transform: uppercase;

        @include media ('sm') {
            font-size: 18px;
        }
    }

    &__button {
        margin-top: 23px;
    }
}
