.header {
    background-image: url(../images/HeaderBackground.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;


    &__hero-block {
        height: calc(100% - 84px);

    }

    &__row {
        height: 100%;
    }

    &__content {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.main-title {
    color: $color-white;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 4.8px;
    color: $color-white;
    text-align: center;
    margin: 0px;
}

.secondary-title {
    font-family: $main-font;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 6.82px;
    color: $color-white;
    display: block;
    text-align: center;
    padding-bottom: 38px;
}
