.footer {
    padding-top: 100px;
    background-color: $footer-bg-color;

    @include media ('md') {
        padding-top: 40px;
    }

    &__title {
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: $base-line-height;
        letter-spacing: 3.36px;

        @include media ('sm') {
            font-size: 20px;
        }
    }

    &__title-description {
        font-size: $base-font-size;
        font-weight: $base-font-weight;
        letter-spacing: 1.6px;
        line-height: $base-line-height;
        padding-top: 10px;

        @include media ('sm') {
            font-size: 14px;
            padding-top: 14px;
        }
    }

    &__title,
    &__title-description {
        display: block;
        text-align: center;
        color: $white-color;
        padding-bottom: 10px;
    }

    .footer-icons {
        display: flex;
        justify-content: center;

        &-position {
            position: relative;
            top: 2px;
        }

        &__link {
            margin-right: 25px;

            &:last-child {
                margin-right: 0px;
            }
        }
    }
}
