@include font-face($main-font-name, 'josefin-sans-v20-latin-regular', 400);
@include font-face($main-font-name, 'josefin-sans-v20-latin-700', 700);
@include font-face($second-font-name, 'aleo-v4-latin-regular');
@include grid();

.page {
    font-family: $main-font;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
}

.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 $default-gap;
}
