p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: Roboto;
    font-size: 25px;
}

a {
    font-style: italic;
    font-weight: bold;
}
